<button (click)="noteToParent(false)" class="navBtn">About</button>
<button (click)="noteToParent(true)" class="navBtn">Add Job</button> 
<span class="date">{{n | hebDate}}</span>
<br/>

<div *ngIf="!pointToShower" class="joke">A mother sees her son watching television<br/> and says,
     "Jimmy! I thought I told you to do<br/>
      the dishes after you do your homework!<br/>
      Why are you watching television?"<br/>
    Jimmy replies, "It's okay, Mom! I haven't <br/>
    done my homework yet."</div>
